body{
    background-color: #619FFF;
    text-align: center;
    padding: 0px 0px 0px 0px;
}
#text{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}
#button{
    background-color: grey;
    font-size: 60px;
    border-radius: 100px;
    padding: 10px 20px 10px 20px;
}